@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Sometype Mono", monospace;
  width: 100vw;
  scroll-behavior: smooth;
}

/* ===== Brick Pattern Background ===== */
.bg-brick {
  background: radial-gradient(
        farthest-side at -33.33% 50%,
        #0000 52%,
        #cacaca 54% 57%,
        #0000 59%
      )
      0 calc(120px / 2),
    radial-gradient(
        farthest-side at 50% 133.33%,
        #0000 52%,
        #cacaca 54% 57%,
        #0000 59%
      )
      calc(120px / 2) 0,
    radial-gradient(
      farthest-side at 133.33% 50%,
      #0000 52%,
      #cacaca 54% 57%,
      #0000 59%
    ),
    radial-gradient(
      farthest-side at 50% -33.33%,
      #0000 52%,
      #cacaca 54% 57%,
      #0000 59%
    ),
    #0000;
  background-size: calc(120px / 4.667) 120px, 120px calc(120px / 4.667);
  background-attachment: fixed;
}
